html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  position: relative;
}

#title {
  display: none;
}

#logo {
  border: 2px solid black;
  border-radius: 8px;
  font-size: 2rem;
  padding: 5px;
}

.navbar {
  background-color: rgb(51,51,51);
  position: fixed;
}

.colo-lg {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 90px;
}

.left-images {
  margin-top: 155px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 50%;
}

.left-images div {
  width: 25vw;
  height: 37.98vh;

}

.img1 {
  background: url(../images/dijk.png) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.img2 {
  background: url(../images/gscreen.png) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.img3 {
  background: url(../images/bc.png) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.img4 {
  background: url(../images/lf.png) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.col1-lg {
  font-family: 'Chilanka', cursive;
  width: 50%;
  padding: 14.5% 0%;
  background: url(../images/bg1.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
}

.text-intro {
  font-size: 2rem;
  margin-top: 120px;
}

.contact-container {
  background-color: rgb(194,217,231);
  display: flex;
  flex-direction: column;
}

.text-block {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-bottom: 150px;

}

.left-about {
margin: 0 30px;
width: 50%;
height: 43.33694474539545vh;
border: solid black;
}

.right-about {
margin: 0 30px;
width: 50%;
height: 43.33694474539545vh;
border: solid black;
}

.left-about-text {
  font-size: 1.4vw;
  margin-top: 80px;
  margin-left: 5px;
  margin-right: 5px;
}

.skills-title  {
margin-top: 2rem;
font-weight: bold;
}

.ulist {
  text-align: left;
  font-size: 1.4vw;
  margin-left: 5px;
}

.contact-logos{
  display: flex;
  justify-content: space-evenly;
  margin-top: -150px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px;
  width: 60%;
}

.fa-linkedin, .fa-github, .fa-file, .fa-envelope {
  color: black;
}

.linkedin-log:hover {
  color: #808080;
  font-size: 3.5em;
}
.github-log:hover {
  color: #808080;
  font-size: 3.5em;
}

.fa-file:hover {
  color: #808080;
  font-size: 3.5em;
}

.fa-envelope:hover {
  color: #808080;
  font-size: 3.5em;
}


.navbar-brand {
  font-size: 2rem;
  letter-spacing: 2px;
}

#sub-heading {
  font-size: 1rem;
}

.nav-item {
  font-size: 1.5rem;
  margin-right: 1rem;
  text-align: center;
}

#hamburger-bio {
  padding: 5% 15%;
  text-align: center;
}

#intro h2 {
  font-size: 3rem;
}


.brand-question {
  font-style: italic;
}

#projects-header,
#design-header {
  font-size: 2rem;
  width: 79%;
  margin: 35px auto;
  letter-spacing: 1px;
  padding-top: 5%;
}

#proj-header {
  width: 50%;
  margin: 0 auto;
}

#projects,
#projects-design {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: white;
  color: #333333;
}

#projects-design .github-link {
  display: none;
}

.card {
  margin: 4% 2%;
  width: 20.751693002257337vw;
  height: 49.30332261521972vh;
  align-items: center;
  position: relative;
-webkit-box-shadow: -4px 10px 17px -8px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 10px 17px -8px rgba(0,0,0,0.75);
box-shadow: -4px 10px 17px -8px rgba(0,0,0,0.75);
}

.card img {
  background-size: cover;
}

.card-body {
  position: absolute;
  bottom: 0;
  padding: 20px;
}

.card-text {
  font-size: 0.8vw;
}

.project-buttons {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.live-link,
.github-link {
  padding: 5px 25px;
  margin-left: 2px;
  background-color: #808080;
  border: 1px solid #000000;
  color: #FFFFFF;
  width: 25%;
}

.live-link:hover,
.github-link:hover {
  background-color: rgb(198,216,229);
  color: #000000;
  border: 1px solid black;
}

.form-control {
  width: 75%;
  margin: 0 auto;
}

#contact-form {
  background-color: rgb(242,241,241);
  width: 20%;
  color: #333333;
  margin: 120px auto;
  border-radius: 10px;
}

.invitation {
  width: 70%;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.row-test {
  width: 20%;
  height: 100%;
}

.form-button {
  display: flex;
  justify-content: center;
}

#submit-button {
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
  background-color: #808080;
  color: #FFFFFF;
  border: none;
}

#submit-button:hover {
  background-color: rgb(198,216,229);
  color: #000000;
  border: 1px solid black;
}

footer {
  display: flex;
  justify-content: center;
  background-color: rgb(242,241,241);
  height: 54px;
  margin: 100px 5px 5px 5px;
  padding: 5px;
}

#social-links a {
  color: #333333;
  font-size: 2rem;
  padding-right: 10px;
}

#copyright {
  padding-top: 8px;
}

@media (min-width: 600px) {
  #title {
      display: block;
  }
  #logo {
      display: none;
  }
  #hamburger-bio {
      display: none;
  }
  
}

 /* big portrait tablets, laptops, and desktops */
@media (min-width:600px) 
and (max-device-width: 1024px)
and (orientation: portrait)
{ 

  .colo-lg {
    flex-direction: column;
    width: 100%;
    margin-top: -75px;
  }

  .left-images {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .left-images div {
    width: 35vw;
    height: 20vh;
  
  }

  .col1-lg {
    
    width: 100%;
    padding: 14.5% 0%;
    ;
  }

  .text-intro {
    font-size: 2.5rem;
    margin-top: -40px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .text-block {
    flex-direction: column;
  } 

  .left-about {
    margin: 0 auto;
    width: 90%;
    height: 25.33694474539545vh;
    border: solid black;
    margin-bottom: 30px;
    } 

    .right-about {
      margin: 0 auto;
      width: 90%;
      height: 27.33694474539545vh;
      border: solid black;
      }

      .left-about-text {
        font-size: 2.4vw;
        margin-top: 80px;
        margin-left: 5px;
        margin-right: 5px;
      }

      .skills-title  {
        margin-top: 2.3rem;
        font-weight: bold;
        font-size: 2.4vw;

        }

      .ulist {
        text-align: left;
        font-size: 2.4vw;
        margin-left: 5px;
        margin-bottom: 130px;
      }

      #proj-header {
        width: 100%;
        margin: 0 auto;
      }

   #projects {
     flex-wrap: wrap;
   }   

   .card {
     width: 41.5vw;
     height: 38vh;
   }

   .card-text {
    font-size: 1.5vw;
  }  

  #contact-form {
    width: 40%;
  }
  
}

/* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media (min-width:1025px)  
and (max-device-width: 1366px)
{ 
  
  .colo-lg {
    flex-direction: column;
    width: 100%;
    margin-top: -75px;
  }

  .left-images {
    width: 56%;
    margin-left: auto;
    margin-right: auto;
  }

  .left-images div {
    width: 28vw;
    height: 24vh;
  
  }

  .col1-lg {
    
    width: 100%;
    padding: 14.5% 0%;
    ;
  }

  .text-intro {
    font-size: 2.5rem;
    margin-top: -40px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .text-block {
    flex-direction: column;
  
  } 

  .left-about {
    margin: 0 auto;
    width: 90%;
    height: 35.33694474539545vh;
    border: solid black;
    margin-bottom: 30px;
    } 

    .right-about {
      margin: 0 auto;
      width: 90%;
      height: 43.33694474539545vh;
      border: solid black;
      }

      .left-about-text {
        font-size: 2.1vw;
        margin-top: 80px;
        margin-left: 5px;
        margin-right: 5px;
      }

      .skills-title  {
        margin-top: 2.3rem;
        font-weight: bold;
        font-size: 2.4vw;
        }

      .ulist {
        text-align: left;
        font-size: 2.1vw;
        margin-left: 5px;
        margin-bottom: 130px;
      }

      #proj-header {
        width: 100%;
        margin: 0 auto;
      }

   #projects {
     flex-wrap: wrap;
   }   

   .card {
     width: 41.5vw;
     height: 62vh;
   }

   .card-text {
    font-size: 1.5vw;
  }  

  #contact-form {
    width: 40%;
  }
}

/* smartphones, iPhone, portrait 480x320 phones */ 
@media (min-width:320px) 
 and (max-device-width: 414px)
{
  

  .colo-lg {
    flex-direction: column;
    width: 100%;
    margin-top: -75px;
  }

  .left-images div {
    width: 50vw;
    height: 20vh;
  }

  .col1-lg {
    width: 100%;
    padding: 14.5% 0%;
  }

  .text-intro {
    font-size: 1.5rem;
    margin-top: -40px;
  }

  .text-block {
    flex-direction: column;
  } 

  .left-about {
    margin: 0 auto;
    width: 90%;
    height: 40%;
    border: solid black;
    margin-bottom: 30px;
    } 

    .right-about {
      margin: 0 auto;
      width: 90%;
      height: 50%;
      border: solid black;
      }

      .left-about-text {
        font-size: 95%;
        margin-top: 25px;
        margin-left: 5px;
        margin-right: 5px;
      }

      .skills-title  {
        font-weight: bold;
        font-size: 4.4vw;

        }

      .ulist {
        text-align: left;
        font-size: 95%;
        margin-left: 5px;
        margin-bottom: 130px;
      }
      .contact-logos{
        width: 100%;
        padding: 60px;
      }

      #proj-header {
        width: 100%;
        margin: 0 auto;
        font-size: 2rem;
        text-align: center;
      }

      #projects {
      flex-direction: column;
      }

      .card {
        margin: 4% auto;
        width: 95%;
        height: 450px;
      }

      .card-title {
        font-size: 115%;
      }
      
      .card-text {
        font-size: 80%;
      } 

      .form-control {
        width: 75%;
        margin: 0 auto;
      }

      #contact-form {
        width: 90%;
      }

      .invitation {
        width: 80%;
        padding-top: 20px;
        margin-left: auto;
        margin-right: auto;
      }

      #copyright {
        padding-top: 8px;
        text-align: center;
      }  

}

/* landscape phones*/
@media (min-width:568px) 
and (max-device-width: 896px)
and (orientation: landscape) 
{ 

  .colo-lg {
    flex-direction: column;
    width: 100%;
    margin-top: -75px;
    margin-bottom: -10%;
  }

  .left-images {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .left-images div {
    width: 30vw;
    height: 40vh;
  
  }

  .col1-lg {
    
    width: 100%;
    padding: 14.5% 0%;
    ;
  }

  .text-intro {
    font-size: 130%;
    margin-top: -40px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .text-block {
    flex-direction: column;
  } 

  .left-about {
    margin: 0 auto;
    width: 90%;
   height: 42%;
    border: solid black;
    margin-bottom: 30px;
    } 

    .right-about {
      margin: 0 auto;
      width: 90%;
      height: 55%;
      border: solid black;
      }

      .left-about-text {
        font-size: 110%;
        margin-top: 25px;
        margin-left: 5px;
        margin-right: 5px;
      }

      .skills-title  {
        margin-top: 2.3rem;
        font-weight: bold;
        font-size: 120%;
       
        }

      .ulist {
        text-align: left;
        font-size: 95%;
        margin-left: 5px;
      }

      .contact-logos{
        padding: 60px;
        width: 90%;
        margin-top: -20%;
      }

      #proj-header {
        width: 100%;
        margin: 0 auto;
      }

      #projects-header {
        font-size: 120%;
      }

   #projects {
     flex-wrap: wrap;
     margin-bottom: 50%;
   }   

   .card {
     width: 41.5vw;
     height: 75%;
   }

   .card-text {
    font-size: 50%;
  }  

  #contact-form {
    width: 60%;
    margin-bottom: -5%;
  }

}

@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (orientation: landscape) {

      .left-about {
        margin: 0 auto;
        width: 90%;
       height: 42%;
        border: solid black;
        margin-bottom: 30px;
        } 
    
        .right-about {
          margin: 0 auto;
          width: 90%;
          height: 5%;
          border: solid black;
          }
    
          .left-about-text {
            font-size: 120%;
            margin-top: 25px;
            margin-left: 5px;
            margin-right: 5px;
          }
    
          .skills-title  {
            margin-top: 2.3rem;
            font-weight: bold;
            font-size: 120%;
           
            }
    
          .ulist {
            text-align: left;
            font-size: 120%;
            margin-left: 5px;
            margin-bottom: 25px;
          }
    
          .contact-logos{
            padding: 60px;
            width: 90%;
            margin-top: -20%;
          }

      #proj-header {
        width: 100%;
        margin: 0 auto;
      }

      #projects-header {
        font-size: 120%;
    
      }

   #projects {
     flex-wrap: wrap;
     margin-bottom: -15%;
     margin-top: -30px;
   }   

   .card {
     width: 41.5vw;
     height: 35%;
     margin-right: 50px;
   }

   .card-text {
    font-size: 50%;
  }  

  #contact-form {
    width: 60%;
    margin-bottom: -5%;
  }

     }
